pyaudio # 依赖于portaudio， 需要先安装brew install portaudio
python-dotenv
deepgram-sdk==3.*

langchain
langchain-community
langchain-ollama
langchain-openai
langchain-groq

asyncio

streamlit

beautifulsoup4
sentence_transformers
faiss-cpu